* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.wrapper {
    height: 100vh;
    width: 936px;
    /* display: flex; */
    /* justify-content: center; */
}

.block {
    /* display: flex; */
    height: fit-content;
    display: inline-flex;
    margin: -2px;
}


.content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid rgb(11, 60, 50);
    justify-content: center;
    height: fit-content;
    width: 356px;
}

.count {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid rgb(11, 60, 50);
    justify-content: center;
    align-items: center;
    width: 92px;
    height: auto;
}

.content span {
    color: rgb(11, 60, 50);
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
}
#title {
    font-weight: 700;
}