* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0b3c32;
}


.external_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.container {
    position: relative;
    width: 1360px;
    height: 656px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration {
    background-color: #0b3c32;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 242px;
    height: 376px;
}

.registration_logo {
    position: relative;
    width: 224px;
    height: 124px;
}


.registration_form {
    position: relative;
    text-align: center;
}


.form_field input {
    width: 240px;
    height: 36px;
    border-radius: 15px;
    /* margin-top: 10px; */
    margin-bottom: 8px;
}

.form_field input::placeholder {
    color: #0b3c32;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
}

.btn {
    width: 116px;
    height: 24px;
    background-color: #eacc76;
    border-radius: 15px;
    color: #0B3C32;
    text-align: center;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-top: 10px; */
}

.line {
    background-color: #ffffff;
    height: 1px;
    width: 242px;
    position: relative;
    top: 1vh;
}

.login {
    position: relative;
    text-align: center;
    top: 1.3vh;
}

.login p {
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login a {
    color: #EACC76;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.no_number_error {
    background-color: white;
    border-radius: 18px;
    width: 184px;
    height: 52px;
    text-align: center;
    position: absolute;
    /* bottom: 15vh; */
    left: 300px;
}

.no_number_error span {
    color: #0B3C32;
    text-align: center;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 800px) {
    .container {
        width: auto;
        height: auto;
    }
    .login_logo {
        width: 224px;
        height: 124px;
    }
    .form_field input {
        width: 232px;
        height: 36px;
    }
}
